<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>DreamHouse</title>
</head>

<body>
    <div class="home">
        <div class="homeContents">
            <a th:href="@{/question}"><img src="images/doreamhouselogo.png" alt=""></a><br>
            <p>↑start on click</p>
        </div>
    </div>
</body>

</html>